<!DOCTYPE html>
<html>
<head>
	<title>Ray Alez Portfolio</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">    
    <meta property="og:image" content="http://digital-mind.co/media/logo2.png" />

    <link rel="stylesheet" href="{{ SITEURL }}/theme/portfolio/css/foundation.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/portfolio/css/portfolio.css" />    

     <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
     <script src="{{ SITEURL }}/theme/portfolio/js/jquery.min.js"></script>   


     <!-- CAROUSEL -->
     <link rel="stylesheet" href="{{ SITEURL }}/theme/portfolio/js/carousel/css/rcarousel.css" />

 
</head>
<body>
  
  
<header>
<div id="header">
	<div class="row" id="top-call-to-action">
	    <div class="large-2 columns" id="title">
			 <h1>Ray Alez</h1>
		 </div>
		<div class="large-10 columns">	 
			 <nav id="main-nav">
			 	<ul>
			 		<li><a class="home-link" href="#">Home</a></li>
			 		<li><a class="inner-link" href="#skills">Skills</a></li>

			 		<li><a class="inner-link" href="#about">About</a></li>
			 		<li><a class="inner-link" href="#projects">Projects</a></li>
			 		<li><a class="inner-link" href="#message">Contact</a></li>
			 		<li><a href="/">Digital Mind</a></li>		 		
			 	</ul>
			 </nav>
		 </div>		
	 </div>
</div>	 
</header>

<div id="upper-bg">
<div id="contact">
<div class="row">
    <div class="large-4 columns" id="signature">
    	<img src="{{ SITEURL }}/theme/portfolio/img/signature.png" style="width: 180px;"/>
	</div>
    <div class="large-8 columns">
    	<h1>Ray Alez <br/>
    	Django Web Developer</h1>
    	<!-- <h2>Look no further! -->
    	<!-- I will help you create the project you want</h2> -->
    	<!-- <a href="#message" class="button">Let's talk →</a><\!-- ⟶ -\-> -->
    	<!-- <p>or get in touch via email, skype, facebook or google+</p> -->
    </div>
</div>
</div>
<div id="skills-arrow"></div>
</div>


<!-- SKILLS -->

<div id="skills">
<div class="row">
    <div class="large-2 columns" id="skills-brain-logo">
    	<img src="{{ SITEURL }}/theme/portfolio/img/logo2.png"/>
	</div>
    <div class="large-10 columns">
    <div class="row" id="main-skills">
	    <li>[Backend] &nbsp; Python(Django), REST, PostgreSQL</li>
	    <li>[Frontend] &nbsp; HTML5, CSS, Sass, jQuery, Foundation</li> 
	    <li>[DevOps] &nbsp; Linux, Nginx, Docker, Redis</li> <!--  Gunicorn, WSGI, AWS -->
	    <li>[Tools] &nbsp; Emacs, Git, IPython</li> <!--  Travis CI?, -->	    
    </div>
        <div class="row" id="other-skills">
        </div>
    </div>
</div>
</div>

<!-- PROJECTS -->
<!-- <div id="projects" > -->
<!--   <h2>Projects</h2> -->

<!--   <div class="row"> -->
<!--     <div class="large-6 columns project" >     -->
<!--       <h2> lumiverse  </h2> -->
<!--       <\!-- <a href="href://orangemind.io">orangemind.io</a> -\-> -->
<!--       <p>The best place to publish, discover, and discuss great educational videos.</p> -->
<!--       <ul> -->
<!--       </ul> -->
<!--       <p>320 users, 98,000 pageviews</p> -->
<!--       <\!-- in the first month after launch. -\-> -->

<!--       <p><a>Github</a></p>             -->
<!--     </div> -->

<!--     <div class="large-6 columns"> -->
<!--       <div class="project-image"> -->
<!-- 	<a href="http://digitalmind.io/"> -->
<!-- 	  <img src="/theme/portfolio/img/projects/lumiverse2.png"  class="thumbnail"/></a> -->
<!--       </div> -->
<!--     </div> -->
<!--     <hr/> -->
<!--   </div> -->

<!--   <div class="row">   -->
<!--     <div class="large-6 columns project" >     -->
<!--       <h2> fictionhub  </h2> -->
<!--       <\!-- <a href="href://orangemind.io">orangemind.io</a> -\-> -->
<!--       <p>A platform for posting and reading fiction.</p><br/> -->
<!--       <p>320 users, 812 stories, 98,000 views</p> <\!-- 54 authors,  -\-> -->
<!--       <p><a>Github</a></p>             -->
<!--     </div> -->

<!--     <div class="large-6 columns"> -->
<!--       <div class="project-image"> -->
<!-- 	<a href="http://digitalmind.io/"> -->
<!-- 	  <img src="/theme/portfolio/img/projects/fictionhub2.png"  class="thumbnail"/></a> -->
<!--       </div> -->
<!--     </div> -->
<!--     <hr/> -->
<!--   </div> -->

<!--   <div class="row"> -->
<!--     <div class="large-6 columns project" >     -->
<!--       <h2> Hacker Chat  </h2> -->
<!--       <\!-- <a href="href://orangemind.io">orangemind.io</a> -\-> -->
<!--       <p>A platform for chats and communities.:</p> -->
<!--       <p>A bit more stats and description.</p> -->
<!--       <p>54 authors, 320 users, 98,000 pageviews</p>       -->
<!--       <p><a>Github</a></p>             -->
<!--     </div> -->

<!--     <div class="large-6 columns"> -->
<!--       <div class="project-image"> -->
<!-- 	<a href="http://digitalmind.io/"> -->
<!-- 	  <img src="/theme/portfolio/img/projects/chat.png"  class="thumbnail"/></a> -->
<!--       </div> -->
<!--     </div> -->
<!--     <hr/> -->
<!--   </div> -->

<!--   <div class="row">   -->
<!--     <div class="large-6 columns project" >     -->
<!--       <h2> Orange Mind  </h2> -->
<!--       <\!-- <a href="href://orangemind.io">orangemind.io</a> -\-> -->
<!--       <p>My blog babout rationality.</p> -->
<!--       <p>320 subscribers, 98,000 pageviews</p>       -->
<!--       <p><a>Github</a></p>             -->
<!--     </div> -->

<!--     <div class="large-6 columns"> -->
<!--       <div class="project-image"> -->
<!-- 	<a href="http://digitalmind.io/"> -->
<!-- 	  <img src="/theme/portfolio/img/projects/OM.png"  class="thumbnail"/></a> -->
<!--       </div> -->
<!--     </div> -->

<!--   </div> -->


  <style>
    .project h2 {
    text-align:left!important;
    }
    .project-image {
    width:411px;
    height:231px;
    overflow:hidden!important;
    }
    .project p {
    color:#3d454b;
    font-size:21px;
    }
    .project a {
    color:#f76300;
        font-size:21px;
    }
  </style>

<div id="projects">
<div class="row">
  <h2>Projects</h2>
  <div id="thumbnails">
    <a href="#" id="ui-carousel-next"></a>
    <a href="#" id="ui-carousel-prev"></a>		

    <div id="container">
      <div id="carousel">

	<div class="project-image">	
	  <a href="http://digitalmind.io/">
	    <img src="{{ SITEURL }}/theme/portfolio/img/projects/lumiverse2.png"/></a>
	</div>

	<div class="project-image">	
	  <a href="http://digitalmind.io/">
	    <img src="{{ SITEURL }}/theme/portfolio/img/projects/fictionhub2.png"/></a>
	</div>

	<div class="project-image">	
	  <a href="http://ormind.co/">
	    <img src="{{ SITEURL }}/theme/portfolio/img/projects/chat.png"/></a>
	</div>

	<div class="project-image">	      
	  <a href="http://rayalez.com/art.php">
	    <img src="{{ SITEURL }}/theme/portfolio/img/projects/OM.png"/></a>
	</div>

      </div>
    </div>
  </div>
</div>
</div>

<style>
  .project-image {
  width:640;
  height:360;
  overflow:hidden!important;
  border: 4px solid white!important;
  border-radius: 4px;      
  }

  .project-image img {
  width:100%!important;
  margin:0!important;
  }


  #carousel-desc {
  height: 160px!important;
  }
  .project-description {
  height: 160px!important;
  }

  .project-description h3 {
  font-size:21px;
  }
  .project-description p {
    font-size:18px;
  }

  .project-description p a {
  font-size:18px;
  }

</style>

<div id="projects-arrow"></div>
<div id="description-bg">
<div class="row">
<div class="large-12 columns">
  <div id="description">	
    <div id="description-text">	
      <div id="container-desc">
	<div id="carousel-desc">

	  <div class="project-description">
	    <h3>lumiverse</h3>
	    <p>The best place to publish, discover, and discuss great educational videos.</p>

	    <p>320 users, 98,000 pageviews in the first month after launch.</p>
	    
	    <a><img src="/theme/portfolio/img/github-icon.png" style="width: 70px;"></a>
	  </div>							

	  <div class="project-description">
	    <h3>fictionhub</h3>
	    <p>A platform for posting and reading fiction.</p>

	    <p>320 users, 54 authors, 812 stories, 98,000 views</p>
	    
	    <a><img src="/theme/portfolio/img/github-icon.png" style="width: 70px;"></a>
	  </div>							

	  <div class="project-description">
	    <h3>Hacker Chat</h3>
	    <p>A platform for chats and communities.</p>

	    <p>320 users, 98,000 pageviews in the first month after launch.</p>
	    
	    <a><img src="/theme/portfolio/img/github-icon.png" style="width: 70px;"></a>
	  </div>							

	  <div class="project-description">
	    <h3>Orange Mind</h3>
	    <p>My blog babout rationality.</p>

	    <p>320 subscribers, 98,000 pageviews.</p>
	    
	    <a><img src="/theme/portfolio/img/github-icon.png" style="width: 70px;"></a>
	  </div>							

	</div>
      </div>
    </div>
  </div>
</div>	
</div>	
</div>	
</div>

<div id="lower-bg">
<!-- TESTIMONIALS -->
<div id="testimonials">
<div class="row">
	<div id="quote-icon">
    	<img src="{{ SITEURL }}/theme/portfolio/img/quote-icon.png"/>
	</div>
	<p>Not all developers deeply passionate about their craft like Ray Alez. <br />
	I have been working with many developers from all around the world, <br />
	and I strongly believe that Ray Alez is one of the best of them.</p>
	<hr id="testimonialsHr" />
	<span id="author">Rommy Arella</span>
	<span id="company">@Candeed Creatives</span>
</div>
</div>


<div id="about">
<div class="row" >
  <h2>Contact and Links</h2>
  
  <p>Check out my <a>github</a> and my <a>resume</a>.<br/>
    You can look at some other projects I've made <a>here</a>.</p>

    
  <p>My email is <br/>
    raymestalez@gmail.com</p>

  

  <!-- 
  <p>[Github]</p>
  <div id="icons">
    <a href="http://github.com/raymestalez">
      <img src="{{ SITEURL }}/theme/portfolio/img/github-icon.png"/>
    </a>
  </div>


  <p>[Resume]</p>
  <img src="{{ SITEURL }}/theme/portfolio/img/resume.png" style="width: 320px;"/>
	<p>My name is Ray Alez. I am clever, motivated, creative,
	obsessed with technology and just generally awesome =)</p>

	<p>Besides programming I have passion for entreneurship, online business and blogging.<br />
	I am constantly working on my own projects and developing a startup.<br/>
	(hence I understand business, online marketing and SEO)<br/>
	Whenever I have some free time I learn everything I can about AI, Machine learning and lisp.<br/>
	</p>

	<p>Let's discuss how I can help you with your project<br/>
	- just <a href="#message">send me a message</a> and say hi!</p>
 -->
</div>
</div>


</div>

<footer>
&nbsp;
</footer>

<script>
	$(document).ready(function(){
		$(".home-link").click(function(event){
			$('header').css('height','40px');
			$("#main-nav").css("margin-top","10px");
			$("#title").css("height","50px");		
			$("#title").css("padding-top","10px");				
			$('header').find('h1').css('font-size','24px');			
		});	
		$(".inner-link").click(function(event){
			$('header').css('height','20px');
			$("#main-nav").css("margin-top","0");
			$("#title").css("height","28px");		
			$("#title").css("padding-top","2px");				
			$('header').find('h1').css('font-size','18px');		
		});
	});
</script>

<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery-1.7.1.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery.ui.core.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery.ui.widget.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery.ui.rcarousel.js"></script>

<script>
$(document).ready(function(){
	jQuery(function($) {
		$( "#carousel").rcarousel({
			visible:1,
			step: 1,
			width: 640,
			height: 360
		});

		$( "#carousel-desc").rcarousel({
			visible:1,
			step: 1,
			width: 640,
			height: 80			
		});
		
		$( "#ui-carousel-next" )
			.add( "#ui-carousel-prev" )
			.hover(
				function() {
					$( this ).css( "opacity", 0.7 );
				},
				function() {
					$( this ).css( "opacity", 1.0 );
				}
			);					
	});
});	
</script>

</body>
</html>

