<!DOCTYPE html>
<html>
<head>
	<title>Ray Alez Portfolio</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">    
    <meta property="og:image" content="http://digital-mind.co/media/logo2.png" />

    <link rel="stylesheet" href="{{ SITEURL }}/theme/portfolio/css/foundation.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/portfolio/css/portfolio.css" />    

     <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
     <script src="{{ SITEURL }}/theme/portfolio/js/jquery.min.js"></script>   


     <!-- CAROUSEL -->
     <link rel="stylesheet" href="{{ SITEURL }}/theme/portfolio/js/carousel/css/rcarousel.css" />

 
</head>
<body>
  
  
<header>
<div id="header">
	<div class="row" id="top-call-to-action">
	    <div class="large-2 columns" id="title">
			 <h1>Ray Alez</h1>
		 </div>
		<div class="large-10 columns">	 
			 <nav id="main-nav">
			 	<ul>
			 		<li><a class="home-link" href="#">Home</a></li>
			 		<li><a class="inner-link" href="#skills">Skills</a></li>
			 		<li><a class="inner-link" href="#projects">Portfolio</a></li>
			 		<li><a class="inner-link" href="#about">About</a></li>
			 		<li><a class="inner-link" href="#message">Contact</a></li>
			 		<li><a href="/">Digital Mind</a></li>		 		
			 	</ul>
			 </nav>
		 </div>		
	 </div>
</div>	 
</header>

<div id="upper-bg">
<div id="contact">
<div class="row">
    <div class="large-4 columns" id="signature">
    	<img src="{{ SITEURL }}/theme/portfolio/img/signature.png"/>
	</div>
    <div class="large-8 columns">
    	<h1>Hi! Looking for an awesome <br/>
    	Django Web/App Developer?</h1>
    	<h2>Look no further!
    	I will help you create the project you want</h2>
    	<a href="#message" class="button">Let's talk →</a><!-- ⟶ -->
    	<!-- <p>or get in touch via email, skype, facebook or google+</p> -->
    </div>
</div>
</div>
<div id="skills-arrow"></div>
</div>


<!-- SKILLS -->

<div id="skills">
<div class="row">
    <div class="large-2 columns" id="skills-brain-logo">
    	<img src="{{ SITEURL }}/theme/portfolio/img/logo2.png"/>
	</div>
    <div class="large-10 columns">
    <div class="row" id="main-skills">
        <div class="large-4 columns">
        	<ul>
	        	<li><> Python/Django</li>
        		<li><> PostgreSQL/MongoDB</li>
        	</ul>
        </div>
        <div class="large-8 columns">
          <ul>
	    <li><> Docker </li>
	    <li><> </li>
	    
	    <!-- 
	         <li><> Node/Express/Sails</li>
	    <li><> Ember.js</li>
	    -->
    	    </ul>
        </div>        
    </div>
        <div class="row" id="other-skills">
        	<h2>Other skills and tools:</h2>
        	<!-- <p>Django CMS, Wordpress, Zurb Foundation, Git, Vagrant, Virtualenv, AWS/Linode/Heroku, Emacs, IPython, Linux, Apache. I also love everything related to AI and lisp =)</p> -->
        </div>
    </div>
</div>
</div>

<!-- PROJECTS -->
<div id="projects">
<div class="row">
	<h2>Projects</h2>
	<div id="thumbnails">
		<!-- <img src="{{ SITEURL }}/theme/portfolio/img/projects/01_dm640x360.png"/> -->
		<!-- <img src="{{ SITEURL }}/theme/portfolio/img/projects/visionary.png"/>		 -->
		<!-- SETUP NICE SLIDER HERE -->
		<!-- ORBIT -->
		<!-- <div id="orbit-projects" data-orbit>
	    	<div>
			    <a href="http://digitalmind.io/">
			    	<img src="{{ SITEURL }}/theme/portfolio/img/projects/01_dm640x360.png"/>
			    </a>
	    	</div>
			<div>
				<a href="http://digitalmind.io/visionary">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/visionary.png"/>
				</a>
			</div>
			<div>
				<a href="http://digitalmind.io/artificial-neural-network-tutorial">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/03_ann640x360.png"/>
				</a>
			</div>
			<div>
				<a href="http://ormind.co/">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/04_OM640x360.png"/>
				</a>
			</div>			
			<!-- <div>
				<a href="http://rayalez.com/art.php">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/06_art640x360.png"/>
				</a>
			</div>				
			  </div>
		</div>		 -->

		<!-- Carousel -->
		
			<a href="#" id="ui-carousel-next"></a>
			<a href="#" id="ui-carousel-prev"></a>		

		<div id="container">
			<div id="carousel">
			    <a href="http://digitalmind.io/">
			    	<img src="{{ SITEURL }}/theme/portfolio/img/projects/01_dm640x360.png"/></a>
				<!--<a href="http://digitalmind.io/visionary">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/visionary.png"/></a>
				<a href="http://digitalmind.io/artificial-neural-network-tutorial">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/03_ann640x360.png"/></a> -->
				<a href="http://ormind.co/">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/04_OM640x360.png"/></a>
				<a href="http://rayalez.com/art.php">
					<img src="{{ SITEURL }}/theme/portfolio/img/projects/06_art640x360.png"/></a>
			</div>
		</div>
	</div>
</div>
</div>

<div id="projects-arrow"></div>
<div id="description-bg">
<div class="row">
<div class="large-12 columns">
 	<div id="description">	
		<div id="description-text">	
<!-- 			<div id="arrow-left"><</div>
			<div id="arrow-right">></div> -->
			<div id="container-desc">
				<div id="carousel-desc">
					<div>
						<h3>Digital Mind</h3>
						<p>Community of people who are interested in startups, technology and science. <br />
						Includes blog and forum. Built with django CMS.</p>
					</div>							
<!--					<div>
						<h3>Visionary</h3>
						<p>  Visionary is an online mindmapping application for creative people.<br/>
						Built with Django, Postgres, jQuery</p>
					</div>					
					<div>
						<h3>Artificial Neural Network Tutorial</h3>
						<p>  This is a series of tutorials about machine learning and artificial intelligence that I'm creating. </p>
					</div> -->
					<div>
						<h3>Orange Mind</h3>
						<p> This is my personal blog where I share random thoughts and ideas. <br />
						Built with wordpress(custom theme).</p>
					</div>										
					<div>
						<h3>Ray Alez Art</h3>
						<p>My CG portfolio<br />
						Since the times I was CG artist</p>
					</div>									
				</div>
			</div>
		</div>
	</div>
</div>	
</div>	
</div>	
</div>

<div id="lower-bg">
<!-- TESTIMONIALS -->
<div id="testimonials">
<div class="row">
	<div id="quote-icon">
    	<img src="{{ SITEURL }}/theme/portfolio/img/quote-icon.png"/>
	</div>
	<p>Not all developers deeply passionate about their craft like Ray Alez. <br />
	I have been working with many developers from all around the world, <br />
	and I strongly believe that Ray Alez is one of the best of them.</p>
	<hr id="testimonialsHr" />
	<span id="author">Rommy Arella</span>
	<span id="company">@Candeed Creatives</span>
</div>
</div>


<div id="about">
<div class="row" >
	<h2>About</h2>
	<p>My name is Ray Alez. I am clever, motivated, creative,
	obsessed with technology and just generally awesome =)</p>

	<p>Besides programming I have passion for entreneurship, online business and blogging.<br />
	I am constantly working on my own projects and developing a startup.<br/>
	(hence I understand business, online marketing and SEO)<br/>
	Whenever I have some free time I learn everything I can about AI, Machine learning and lisp.<br/>
	</p>

	<p>Let's discuss how I can help you with your project<br/>
	- just <a href="#message">send me a message</a> and say hi!</p>

	<div id="icons">
		<a href="http://github.com/raymestalez">
			<img src="{{ SITEURL }}/theme/portfolio/img/github-icon.png"/>
		</a>
	</div>
</div>
</div>

<div id="message"> <!-- style="display:none;" -->
<div class="row" >
    <div class="large-centered columns centered">
	<h2>Send me a message</h2>
	<form action="http://rayalez.com/contact.php" method="post">
		<div id="email">
			<input type="text" name="cf_email" placeholder="Your e-mail">
		</div>
		<div id="subject">
		    <input type="text" name="cf_subject" placeholder="Subject">	    
		</div>
	    <textarea id="messageContent"name="cf_message"
                  placeholder="Tell me about your project or ask a question..."></textarea>
	    <input type="submit" class="button" value="Send" id="send">
	</form>
	</div>
</div>
</div>

</div>

<footer>
<p>(C) 2014 Ray Alez     Digital Mind</p>
</footer>

<!-- ORBIT -->
<!-- <script src="{{ SITEURL }}/theme/portfolio/js/foundation.min.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/foundation/foundation.orbit.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/foundation/foundation.clearing.js"></script>      
<script>
	$(document).foundation();
	$(window).load(function() {
		$('#orbit-projects').orbit({ captions: false, bullets: false});
	});
</script> -->
<script>
	$(document).ready(function(){
		$(".home-link").click(function(event){
			$('header').css('height','40px');
			$("#main-nav").css("margin-top","10px");
			$("#title").css("height","50px");		
			$("#title").css("padding-top","10px");				
			$('header').find('h1').css('font-size','24px');			
		});	
		$(".inner-link").click(function(event){
			$('header').css('height','20px');
			$("#main-nav").css("margin-top","0");
			$("#title").css("height","28px");		
			$("#title").css("padding-top","2px");				
			$('header').find('h1').css('font-size','18px');		
		});
	});
</script>

<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery-1.7.1.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery.ui.core.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery.ui.widget.js"></script>
<script src="{{ SITEURL }}/theme/portfolio/js/carousel/lib/jquery.ui.rcarousel.js"></script>
<script>
$(document).ready(function(){
	jQuery(function($) {
		$( "#carousel").rcarousel({
			visible:1,
			step: 1,
			width: 640,
			height: 360
		});

		$( "#carousel-desc").rcarousel({
			visible:1,
			step: 1,
			width: 640,
			height: 80			
		});
		
		$( "#ui-carousel-next" )
			.add( "#ui-carousel-prev" )
			.hover(
				function() {
					$( this ).css( "opacity", 0.7 );
				},
				function() {
					$( this ).css( "opacity", 1.0 );
				}
			);					
	});
});	
</script>
		
<script type="text/javascript">

</body>
</html>

