<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
  <meta charset="utf-8" />

  <title>{% block title %}Digital Mind{% endblock title %}</title> <!-- {{ SITENAME }} -->

  <!-- Extra header for ipython -->
  {% if EXTRA_HEADER %}
  {{ EXTRA_HEADER }}
  {% endif %}
  {% endblock %}


  <!-- Import css and scripts  -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" />

  <!-- jQuery -->
  <script src="/theme/js/vendor/jquery.js" type="text/javascript"></script>

  <!-- Mermaid for diagrams -->
  <script src="/theme/js/mermaid.full.min.js" type="text/javascript"></script>
  
</head>

<body>
<div id="orange-line"></div>
  <header>
      <div class="row" >
        <div class="large-9 columns" >
          <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/img/logo_notagline.png" /></a>
        </div>
        <div class="large-3 columns" id="mainMenu">
	  {% for title, link in MENUITEMS %}
	  <ul>
	    <a href="{{ link }}">{{ title }}</a>
	  </ul>
	  {% endfor %}
	</div>
      </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
  </footer>
</body>
</html>
