{% extends "base.html" %}
{% block content %}

<!-- Orbit -->
<div id="featuredContent" data-orbit>
  <a href="#">
    <img width=100% src="{{ SITEURL }}/theme/img/neuron2.png" />
  </a>
<!--<a href="/post/social-engineering-basics.html">
    <img width=100% src="/theme/img/socialEngineering.png" />
  </a>  -->
</div>

<!-- Categories/Articles -->
<div class="row" id="bestArticles">
  <div class="large-12 columns">
	<!-- <h3>Read my best articles:</h3> -->
  </div>
  <div class="large-4 columns">
    
	<a href="/post/achieving-flow-state">
	  <img src="/theme/img/blog_header/startup-ideas.png" alt="Inventing Startup Ideas">
	</a>
	
	<a href="/post/achieving-flow-state">
	  <h4> Math </h4>
	</a>
    
	<p>Learn how to enter the state of flow - state of extreme productivity,
      complete engagement, and full immersion into what you're doing.</p>

	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/inventing-startup-ideas">Read More</a>
	</span>
    
  </div>
  
  <div class="large-4 columns">
    
	<a href="/post/thinking-tools-how-use-your-mind-solve-challenges">
	  <img src="/theme/img/blog_header/creativeThinkingTools.jpg" alt="Creative thinking tools">
	</a>
    
	<a href="/post/thinking-tools-how-use-your-mind-solve-challenges">
	  <h4> Programming </h4>
	</a>
    
	<p>Learn the creative thinking tools you need to use to invent ideas and solve challenges on your path to becoming a great entrepreneur</p>
	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/creative-thinking-tools">Read More</a>
	</span>
    
  </div>
  
  <div class="large-4 columns">
    
	<a href="/post/best-startup-books">
	  <img src="/theme/img/blog_header/rework.png" alt="Best startup books">
	</a>
    
	<a href="/post/best-startup-books">
	  <h4>Machine Learning</h4>
	</a>
    
	<p>This is the collection of my top-favorite best startup books.
      They're must read for everyone interested in entrepreneurship and business.</p>
	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/best-startup-books">Read More</a>
	</span>
    
  </div>
  
</div>

{% endblock content %}



 
