{% extends "base.html" %}
{% block content %}

<!-- Orbit -->
<!-- 
<div id="featuredContent" data-orbit>
  <a href="#">
    <img width=100% src="{{ SITEURL }}/theme/img/neuron2.png" />
  </a>
</div>
 -->



  
<section id="content">
  
  <div id="page"  class="blogPage">
    <div class="row">
      <div class="large-12 columns">

	<article  style="padding:20px;    background: rgba(255,255,255,0.5);//#fff;
		    box-shadow: 0 1px 4px rgba(0,0,0,.04);
		    border: 1px solid rgba(0,0,0,.09);
		    border-radius: 3px;
		    margin-bottom:0;
		    width: calc(50% - 40px);
		    float:left;
		    margin-right:40px;">
          <a href="http://deepwriting.digitalmind.io"><h1>Deep Writing</h1></a>
	  <hr/>
	  <p>
	    Deep Writing
	  </p>
	</article>


	<article  style="padding:20px;    background: rgba(255,255,255,0.5);//#fff;
		    box-shadow: 0 1px 4px rgba(0,0,0,.04);
		    border: 1px solid rgba(0,0,0,.09);
		    border-radius: 3px;
		    margin-bottom:0;
		    width: calc(50% - 40px);
		    float:left;
		    margin-right:40px;">
          <a href="http://deepwriting.digitalmind.io"><h1>Deep Dreams</h1></a>
	  <hr/>
	  <p>
	    Deep Writing
	  </p>
	</article>
	

        </div>
    </div>
</section>

{% endblock content %}



 
